/* video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 60%;
} */

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 60%;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  text-shadow: 2px 2px 40px #000000;
  font-size: 60px;
  letter-spacing: 1px;
}

.span-text {
  text-shadow: none;
  animation: move 4s linear infinite;
  background-image: linear-gradient(
    to right,
    rgb(200, 24, 74),
    rgb(230, 23, 82),
    rgb(255, 61, 116),
    rgb(230, 23, 82),
    rgb(200, 24, 74)
  );
  font-size: 62px;
  font-weight: 900;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes move {
  to {
    background-position: 200% center;
  }
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 8px #000000;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
  box-shadow: 0 0 40px #484848;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .span-text {
    font-size: 72px;
  }

  .hero-container > p {
    font-size: 24px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 40px;
    margin-top: 0px;
    /* text-shadow: 2px 2px 70px #000000; */
    text-shadow: none;
  }

  .hero-container > p br {
    display: none;
  }

  .span-text {
    font-size: 42px;
  }

  .hero-container > p {
    font-size: 16px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
