.matterport {
  height: calc(100vh - 80px);
  min-height: 600px;
  width: 100%;
  background-color: #f8f8f8;
}

.matterport__container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matterport__container > img {
  width: 10%;
}

.matterport__container > p {
  padding-top: 10px;
  text-align: center;
}

.matterport__container > .dollhouse {
  padding-top: 3rem;
  width: 25%;
}

@media screen and (max-width: 960px) {
  .matterport__container {
    padding-top: 4rem;
  }

  .matterport__container > img {
    width: 30%;
  }

  .matterport__container > p {
    font-size: 14px;
  }

  .matterport__container > p br {
    display: none;
  }

  .matterport__container > h1 {
    font-size: 30px;
  }

  .matterport__container > .dollhouse {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .matterport__container > .dollhouse {
    width: 60%;
  }

  p {
    padding: 0 40px 0 40px;
  }
}
